@{
    ViewBag.Title = "اخبار عمومی";
}
@model PagedList.IPagedList<BigMill.Models.PostModel>
@using PagedList.Mvc;
@using BigMill.Infrastructure;



@section BreadCrumb{
    <div class="breadcrumb-place" style="height: 70px;">
        <div class="row clearfix">
            @*<h1 style="color: white;font-size: 20px;margin-top: 30px;">Blog Both Sidebars</h1>*@
            <div class="grid_12" style="margin-bottom: 25px;height: 30px;margin-top: 10px;">
                <div class="gap clearfix custom-h30"></div>
                <div class="breaking-news-bar" style="margin-left:25px;margin-top: -15px;">
                    <span class="title blink_me custom-color-icon6" style="margin-right: 30px;margin-top: -45px;">@Resource.Resource.User_MessagesAndInformations</span>
                    <ul id="nt_1381119256" class="newst" style="color:white;">
                        @Html.Action("InformationBar", "Utility")
                    </ul>
                </div>
                <div class="gap clearfix custom-h30"></div>
            </div>
        </div><!-- row -->
    </div>
}



<div class="page-content">
    <div class="row clearfix">

        <!-- start sidebar -->
        <div class="grid_3 alpha sidebar">

            <div id="official_ads-4" class="widget widget_official_ads">
                @Html.Action("Links", "Utility")
            </div>

            <div id="search-2" class="widget widget_search" style="margin-bottom:20px;">
                @Html.Action("NewsParliamentSearch", "Utility")
            </div>

            <div id="official_combo_tabs-3" class="widget widget_official_combo_tabs">
                <div class="tabswrap">
                    <ul class="tabs">
                        <li><a class="active" href="#panel-tt1" style=" font-size: 10px;">@Resource.Resource.User_PopularPosts</a></li>
                        <li><a href="#panel-tt2" style=" font-size: 10px;">@Resource.Resource.User_RecentPosts</a></li>
                        <li><a href="#panel-tt4" style="width: 58px;font-size: 10px;">@Resource.Resource.User_Tags</a></li>
                    </ul>
                    <ul class="tabs-content">
                        <li class="active" id="panel-tt1">
                            <ul class="mostpopular">
                                @Html.Action("PopularPosts", "Utility")
                            </ul>
                        </li>

                        <li id="panel-tt2">
                            <ul class="recentposts">
                                @Html.Action("RecentPosts", "Utility")
                            </ul>
                        </li>

                        <li id="panel-tt4">
                            @Html.Action("SubCategoryTags", "Utility", new { Tags = @ViewBag.pipTags })
                        </li>
                    </ul>

                </div>
                <!-- tabswrap -->

            </div><!-- tabs -->

            <div class="widget widget_categories">
                @Html.Action("RuzWord", "Utility")
            </div>

            <div class="widget widget_official_facebook">
                @Html.Action("RuzPic", "Utility")
            </div>

            <div class="widget widget_official_subscription">
                @Html.Action("SpeechVideo", "Utility")
            </div>


        </div>
        <!-- grid 3 Sidebar -->

        <div class="grid_6 posts both-sidebars">
            <!-- post -->
            @foreach (var item in Model)
            {
                <div class="post type-post status-publish format-standard has-post-thumbnail hentry category-news clearfix">
                    <a href="@Url.Action("AkhbarOmumi_Detail", "News", new { PostId = item.ID, PostTittle = @Url.URL4SEO(item.ID, item.Content_One) })" class="thumb-big">
                        <img src="~/Content/UplodedImages/PostImages/@item.Content_Two" alt="@item.Content_One" />
                    </a>
                    <div class="content">
                        <div class="meta-box">
                            <img alt='@item.Content_One' src="~/Content/UplodedImages/PostImages/@item.Content_Two" class='image-author  photo' />
                            <h3 style="line-height: 25px;width: 380px;margin-right: 120px;"><a style="float:right;" href="@Url.Action("AkhbarOmumi_Detail", "News", new { PostId = item.ID, PostTittle = @Url.URL4SEO(item.ID, item.Content_One) })">@item.Content_One</a></h3>
                            <div class="meta-more" style="float: right; margin-right: 100px;margin-top:5px;">
                                <span><i class="icon-time"></i><a href="#">@item.CreateDateUtcJalali</a></span>
                                <span><i class="icon-comments"></i> <a href="single-image.html#respond" title="Comment on Mumblecore sapiente pork belly">@item.NumberOfComments</a></span>
                                <span><i class="icon-thumbs-up"></i> <a href="#" title="Comment on Mumblecore sapiente pork belly">@item.NumberOfLikes</a></span>
                                <span><i class="icon-thumbs-down"></i> <a href="#" title="Comment on Mumblecore sapiente pork belly">@item.NumberOfDisLikes</a></span>
                            </div>
                            <!-- meta date -->
                        </div>
                        <p>@item.Content_Three</p>
                        <a href="@Url.Action("AkhbarOmumi_Detail", "News", new { PostId = item.ID, PostTittle = @Url.URL4SEO(item.ID, item.Content_One) })" class="tbutton tbutton1 small"><span>@Resource.Resource.User_MoreDetails</span></a>
                    </div>
                </div>
            }

            <!--end post -->
            <!-- PAGINATION -->
            <p class="hide"></p>
            <!-- END PAGINATION -->

            <div style="text-align:center;direction:ltr!important" class="pagination-tt clearfix">
                صفحه @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) از @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("AkhbarOmumi", "News", new { page }))
            </div>

        </div><!-- grid 6 posts -->
        <!-- start sidebar -->
        <div class="grid_3 sidebar omega">

            <div class="widget widget_official_ads">
                @Html.Action("PollParticipation", "Utility")
            </div>

            <div class="widget widget_official_subscription">
                @Html.Action("AyineKhedmat", "Utility")
            </div>

            <div class="widget widget_categories">
                @Html.Action("BrifeFunctional", "Utility")
            </div>

            <div id="recent-posts-4" class="widget widget_recent_entries">
                @Html.Action("RssFeed", "Utility")
            </div>
            <div id="archives-2" class="widget widget_archive">
                @Html.Action("NewsArchive", "Utility", new { PostSubCategoryId = 1, PostCategoryId = System.Configuration.ConfigurationManager.AppSettings["AkhbarId"] })
            </div>
        </div>
        <!-- grid 3 Sidebar -->

    </div><!-- row -->

</div>