@model BigMill.Models.TicketOutBoxModel



@using (Ajax.BeginForm("TicketResponse", "Tickets", new { F_LastTicketInboxId = Model.F_TicketInbox_Id }, new AjaxOptions
{
    UpdateTargetId = "PipoTicketResponse",
    InsertionMode = InsertionMode.Replace,
    LoadingElementId = "PipoTicketResponseResult_Loading",
    HttpMethod = "Post"
}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.F_TicketInbox_Id)
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">@Resource.Resource.Ticket_ResponseForm</h4>
    </div>
    <div class="modal-body">
        <div id="TicketResponsePost">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-transparent">
                        <div class="panel-body">
                            <div id="PipoTicketResponseResult_Loading" style="text-align:center;display:none">
                                <img src="../../Content/AdminContent/z3mill/ajax-load.gif" />
                            </div>
                            <div id="PipoTicketResponseContent" class="form-group">
                                <div class="note-editor">
                                    @Html.TextAreaFor(m => m.Content_One, new { @class = "form-control autosize area-animated FixedColTextArea", placeholder = "متن پاسخ درخواست" })
                                    @Html.ValidationMessageFor(model => model.Content_One)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-o" data-dismiss="modal">
            @Resource.Resource.View_Close
        </button>
        <button type="submit" data-style="expand-left" class="btn btn-wide btn-primary ladda-button">
            <span class="ladda-label">@Resource.Resource.Ticket_ReplySend</span><span class="ladda-spinner"></span>
        </button>
    </div>
}
@*<div id="TicketResponsePost" style="padding-top:75px">
        @using (Ajax.BeginForm("TicketResponse", "Tickets", new { F_LastTicketInboxId = Model.F_TicketInbox_Id }, new AjaxOptions
    {
        UpdateTargetId = "TicketResponse",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "TicketReader_Loading",
        HttpMethod = "Post"
    }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(m => m.F_TicketInbox_Id)
            <fieldset>
                <legend>
                    @Resource.Resource.Ticket_ResponseForm
                </legend>
                <div class="form-group">
                    <div class="panel panel-white">
                        <div class="panel-heading">
                            <div class="panel-title">
                                @Resource.Resource.Ticket_Reply
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="note-editor">
                                    @Html.TextAreaFor(m => m.Content_One, new { @class = "form-control autosize area-animated FixedColTextArea" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-white">
                        <div class="panel-heading">
                            <div class="panel-title">
                                @Resource.Resource.Ticket_ReplyViaSMS
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="note-editor">
                                    @Html.TextAreaFor(m => m.SMSText, new { @class = "form-control autosize area-animated FixedColTextArea" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" data-style="expand-left" class="btn btn-wide btn-primary ladda-button">
                        <span class="ladda-label">@Resource.Resource.Ticket_ReplySend</span><span class="ladda-spinner"></span>
                    </button>
                </div>
            </fieldset>

        }
    </div>*@



@*<div class="message-actions">
        <ul class="actions no-margin no-padding block">
            <li class="email-list-toggle">
                <a href="#"><i class="fa fa-angle-left"></i> All Inboxes </a>
            </li>
            <li class="actions-dropdown">
                <span class="dropdown">
                    <a class="dropdown-toggle" href="" data-toggle="dropdown">
                        <i class="caret"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-light">
                        <li>
                            <a href="#">
                                Replyo
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Reply all
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Forward
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Delete
                            </a>
                        </li>
                    </ul>
                </span>
            </li>
            <li class="no-padding">

                    @Ajax.ActionLink(Resource.Resource.Ticket_ReplyClose, "TicketResponseAbrot", "Tickets", new { F_LastTicketInboxId = Model.F_TicketInbox_Id }, new AjaxOptions
                               {
                                   UpdateTargetId = "TicketResponse",
                                   InsertionMode = InsertionMode.Replace,
                                   LoadingElementId = "TicketReader_Loading",
                                   HttpMethod = "Get"
                               }, new { @class = "text-info" })


            </li>
            <li class="no-padding">
                <a href="#">
                    Reply all
                </a>
            </li>
            <li class="no-padding">
                <a href="#">
                    Forward
                </a>
            </li>
            <li class="no-padding">
                <a href="#">
                    Delete
                </a>
            </li>
        </ul>
    </div>
    <div id="TicketResponsePost" style="padding-top:75px">
      @using (Ajax.BeginForm("TicketResponse", "Tickets", new { F_LastTicketInboxId = Model.F_TicketInbox_Id }, new AjaxOptions
    {
        UpdateTargetId = "TicketResponse",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "TicketReader_Loading",
        HttpMethod = "Post"
    })){
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m=>m.F_TicketInbox_Id)
        <fieldset>
            <legend>
                @Resource.Resource.Ticket_ResponseForm
            </legend>
            <div class="form-group">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <div class="panel-title">
                            @Resource.Resource.Ticket_Reply
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="note-editor">
                                @Html.TextAreaFor(m => m.Content_One, new { @class = "form-control autosize area-animated FixedColTextArea" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-white">
                    <div class="panel-heading">
                        <div class="panel-title">
                            @Resource.Resource.Ticket_ReplyViaSMS
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="note-editor">
                                @Html.TextAreaFor(m => m.SMSText, new { @class = "form-control autosize area-animated FixedColTextArea" })
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" data-style="expand-left" class="btn btn-wide btn-primary ladda-button">
                    <span class="ladda-label">@Resource.Resource.Ticket_ReplySend</span><span class="ladda-spinner"></span>
                </button>
            </div>
        </fieldset>

        }
    </div>*@
