
@model BigMill.Models.TicketModel


<div style="padding-top:75px;">
    @using (Ajax.BeginForm("TicketChangeStatus", "Tickets", new { F_TicketId = Model.ID }, new AjaxOptions
{
    UpdateTargetId = "PipoTicketChangeStatus",
    InsertionMode = InsertionMode.Replace,
    LoadingElementId = "TicketReader_Loading",
    HttpMethod = "Post"
}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.ID)
        <fieldset>
            <legend>
                @Resource.Resource.Ticket_ChangeStatusForm
            </legend>
            <div class="form-group">
                <div class="panel-body">
                    <div class="form-group">
                        <label for="form-field-select-1">
                            @Resource.Resource.Ticket_Status
                        </label>
                        @Html.DropDownListFor(m => m.Status, ViewData["TicketStatus"] as List<SelectListItem>, new { @class = "form-control" })
                    </div>
                </div>

                <div style="text-align:center">
                    <a class="btn btn-wide btn-red left" onclick="PipoTicketChangeStatusClose()"><i class="ti-close"></i></a>
                    <button type="submit" data-style="expand-left" class="btn btn-wide btn-success ladda-button">
                        <span class="ladda-label">@Resource.Resource.Submit</span><span class="ladda-spinner"></span>
                    </button>
                </div>
            </div>
        </fieldset>
    }
</div>

