@model IEnumerable<BigMill.Models.PostModel>
           @using BigMill.Infrastructure;

@{ string ActionName = "";}
@foreach (var item in Model)
{
    if (item.F_PostsSubCategory_ID == Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["SpeechID"]))
    {
        ActionName = "ViewSpeech_Detail";
    }
    else if (item.F_PostsSubCategory_ID == Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["QuestionID"]))
    {
        ActionName = "ViewQuestion_Detail";
    }
    else if (item.F_PostsSubCategory_ID == Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["InterviewID"]))
    {
        ActionName = "ViewInterview_Detail";
    }
    else if (item.F_PostsSubCategory_ID == Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["CorrespondenceID"]))
    {
        ActionName = "ViewCorrespondence_Detail";
    }
    <div class="uowl" style="height:350px;">
        <div class="hover-fx zoom">
            <img src="~/Content/UplodedImages/PostImages/@item.Content_Two" alt="@item.Content_One" style="height:200px;" />
            <a class="fLeft" href="@Url.Action(ActionName, "Parliament", new { PostId = item.ID, PostTittle = @Url.URL4SEO(item.ID, item.Content_One)})" title="@item.Content_One">
                <span><i class="icon-file-text"></i></span>
            </a>
            <a class="fRight" href="~/Content/UplodedImages/PostImages/@item.Content_Two" data-gal="photo" title="@item.Content_One">
                <span><i class="icon-zoom-in"></i></span>
            </a>
        </div>

        <div class="detailes" style="width: 225px; margin-right: auto; margin-left: auto;">
            <h5><a href="@Url.Action(ActionName, "Parliament", new { PostId = item.ID, PostTittle = @Url.URL4SEO(item.ID, item.Content_One) })">@item.Content_One</a></h5>
            <p >@item.Content_Three</p>
        </div>

    </div>
}