@model BigMill.Models.PostModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PostModel</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Content_One, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Content_One)
                @Html.ValidationMessageFor(model => model.Content_One)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content_Two, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Content_Two)
                @Html.ValidationMessageFor(model => model.Content_Two)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content_Three, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Content_Three)
                @Html.ValidationMessageFor(model => model.Content_Three)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content_Four, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Content_Four)
                @Html.ValidationMessageFor(model => model.Content_Four)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumberOfVisitors, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberOfVisitors)
                @Html.ValidationMessageFor(model => model.NumberOfVisitors)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumberOfComments, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberOfComments)
                @Html.ValidationMessageFor(model => model.NumberOfComments)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumberOfLikes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberOfLikes)
                @Html.ValidationMessageFor(model => model.NumberOfLikes)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumberOfDisLikes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberOfDisLikes)
                @Html.ValidationMessageFor(model => model.NumberOfDisLikes)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Display, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Display)
                @Html.ValidationMessageFor(model => model.Display)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.F_PostsSubCategory_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.F_PostsSubCategory_ID)
                @Html.ValidationMessageFor(model => model.F_PostsSubCategory_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.F_Users_Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.F_Users_Id)
                @Html.ValidationMessageFor(model => model.F_Users_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.F_Tags_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.F_Tags_ID)
                @Html.ValidationMessageFor(model => model.F_Tags_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateDateUtc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateDateUtc)
                @Html.ValidationMessageFor(model => model.CreateDateUtc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TagsText, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TagsText)
                @Html.ValidationMessageFor(model => model.TagsText)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "ListPost")
</div>
