@model BigMill.Models.PostModel
@{
    ViewBag.Title = "جزییات اخبار حوزه انتخابیه";
}


@section js_Requested{

    <script>
        var $jq = jQuery.noConflict();
        $jq(document).ready(function () {
            $jq("button[id^='AppendReplyButton_']").click(function () {
                var temp = $jq(this).attr('id').split("_");
                var myid = temp[1];
                var myappend = "#AppendedReplyBox_" + temp;
                $jq("#AppendedReplyBox_" + temp[1]).empty();
                $jq("#AppendedReplyBox_" + temp[1]).append("<form action=\"/PostCommentReply/AddPostCommentReply?PostCommentId=" + temp[1] + "\" data-ajax=\"true\" data-ajax-loading=\"#TicketReader_Loading\" data-ajax-method=\"Post\" data-ajax-mode=\"replace\" data-ajax-update=\"#AjaxCommentReplyBox_" + temp[1] + "\"><textarea cols=\"20\" class=\"ReplyTextBox\" id=\"Reply\" name=\"Reply\" placeholder=\"لطفا پاسخ خود را در این فیلد بنویسید ...\" required=\"\" row=\"8\" rows=\"2\" style=\"width: 570px;margin-bottom: 5px;min-height: 31px;margin-top: -15px;max-width: 606px;\"></textarea><button class=\"tbutton color1\" style=\" margin-top:-15px;margin-bottom: 5px; height:33px; width:75px; display:inline-block;\">درج پاسخ</button></form>")

            });
        });
    </script>

}

@section BreadCrumb{
    <div class="breadcrumb-place" style="height: 70px;">
        <div class="row clearfix">
            @*<h1 style="color: white;font-size: 20px;margin-top: 30px;">Blog Both Sidebars</h1>*@
            <div class="grid_12" style="margin-bottom: 25px;height: 30px;margin-top: 10px;">
                <div class="gap clearfix custom-h30"></div>
                <div class="breaking-news-bar" style="margin-left:25px;margin-top: -15px;">
                    <span class="title blink_me custom-color-icon6" style="margin-right: 30px;margin-top: -45px;">@Resource.Resource.User_MessagesAndInformations</span>
                    <ul id="nt_1381119256" class="newst" style="color:white;">
                        @Html.Action("InformationBar", "Utility")
                    </ul>
                </div>
                <div class="gap clearfix custom-h30"></div>
            </div>
        </div><!-- row -->
    </div>
}

<div class="page-content">

    <div class="row clearfix">
        <!-- start grid 4 Sidebar sidebar -->
        <div class="grid_3 sidebar omega" style="padding:20px;">

            <div id="official_ads-4" class="widget widget_official_ads">
                @Html.Action("Links", "Utility")
            </div>

            <div id="search-2" class="widget widget_search" style="margin-bottom:20px;">
                @Html.Action("NewsParliamentSearch", "Utility")
            </div>

            <div id="official_combo_tabs-3" class="widget widget_official_combo_tabs">

                <div class="tabswrap">
                    <ul class="tabs">
                        <li><a class="active" href="#panel-tt1">@Resource.Resource.User_PopularPosts</a></li>
                        <li><a href="#panel-tt2">@Resource.Resource.User_RecentPosts</a></li>
                        <li><a href="#panel-tt4" style="width: 68px;">@Resource.Resource.User_Tags</a></li>
                    </ul>
                    <ul class="tabs-content">

                        <li class="active" id="panel-tt1">
                            <ul class="mostpopular">
                                @Html.Action("PopularPosts", "Utility")
                            </ul>
                        </li>

                        <li id="panel-tt2">
                            <ul class="recentposts">
                                @Html.Action("RecentPosts", "Utility")
                            </ul>
                        </li>

                        <li id="panel-tt4">
                            @Html.Action("PostTags", "Utility", new { Tags = @ViewBag.pipTags })
                        </li>
                    </ul>

                </div>
                <!-- tabswrap -->

            </div><!-- tabs -->

            <div class="widget widget_categories">
                @Html.Action("RuzWord", "Utility")
            </div>

            <div id="official_facebook-2" class="widget widget_official_facebook">
                @Html.Action("RuzPic", "Utility")
            </div>

            <div class="widget widget_official_subscription">
                @Html.Action("AyineKhedmat", "Utility")
            </div>
            <div id="archives-2" class="widget widget_archive">
                @Html.Action("NewsArchive", "Utility", new { PostSubCategoryId = 1, PostCategoryId = System.Configuration.ConfigurationManager.AppSettings["AkhbarId"] })
            </div>

        </div>
        <!-- End grid 4 Sidebar -->
        <!--Start grid 8 posts -->
        <div class="grid_8 posts" style="padding:20px;float:right;">

            <div class="post type-post status-publish format-standard has-post-thumbnail hentry clearfix">
                <a href="#" class="thumb-big">
                    <img src="~/Content/UplodedImages/PostImages/@Model.Content_Two" alt="@Model.Content_One" />
                </a>
                <div class="content">
                    <div class="meta-box">
                        <img alt='@Model.Content_One' src="~/Content/UplodedImages/PostImages/@Model.Content_Two" class='image-author  photo' />
                        <h3><a href="#">@Model.Content_One</a></h3>
                        @Scripts.Render("~/bundles/jquery")
                        @Scripts.Render("~/bundles/jqueryajax")
                        <div class="meta-more">
                            <div id="PostLikeDislikeBox">
                                <span><i class="icon-time"></i><a href="#">@Model.CreateDateUtcJalali</a></span>
                                <span><i class="icon-comments"></i> <a href="#" title="Comment on Mumblecore sapiente pork belly">@Model.NumberOfComments</a></span>
                                <span><i class="icon-thumbs-down"></i> <a href="#" title="Comment on Mumblecore sapiente pork belly">@Model.NumberOfDisLikes</a></span>
                                <span><i class="icon-thumbs-up"></i> <a href="#" title="Comment on Mumblecore sapiente pork belly">@Model.NumberOfLikes</a></span>
                            </div>
                            <div style=" margin-top: -22px;" class="LikeDisLikeButtons">
                                @using (Ajax.BeginForm("DisLikePost", "Post", new { PostId = Model.ID }, new AjaxOptions
                                {
                                    UpdateTargetId = "PostLikeDislikeBox",
                                    InsertionMode = InsertionMode.Replace,
                                    LoadingElementId = "TicketReader_Loading",
                                    HttpMethod = "Post"
                                }, null))
                                {
                                    <button class="tbutton tbutton7 color1" href="#" target="_self">
                                        <span><i class="icon-thumbs-down" style=" margin-left: 10px;"></i>نمی پسندم</span>
                                    </button>
                                }
                                @using (Ajax.BeginForm("LikePost", "Post", new { PostId = Model.ID }, new AjaxOptions
                                {
                                    UpdateTargetId = "PostLikeDislikeBox",
                                    InsertionMode = InsertionMode.Replace,
                                    LoadingElementId = "TicketReader_Loading",
                                    HttpMethod = "Post"
                                }, null))
                                {
                                    <button style="margin-left:5px;" class="tbutton tbutton7 color1" href="#" target="_self">
                                        <span><i class="icon-thumbs-up" style=" margin-left: 10px;"></i>می پسندم</span>
                                    </button>
                                }
                            </div>
                        </div>
                        <!-- meta date -->
                    </div>
                    <p style="background-color: lightgray;border-radius: 5px;color: gray;font-size: 15px;padding:10px;">@Model.Content_Three</p>
                    <p>
                        @Html.Raw(Model.Content_Four)
                    </p>
                    <p style="margin-bottom: 40px;margin-top: 20px;">
                        @if (ViewBag.VideoSrc != "")
                        {
                            <video src="/api/video/@ViewBag.VideoSrc.ToString().Substring(ViewBag.VideoSrc.LastIndexOf('.')+1)/@ViewBag.VideoSrc.ToString().Substring(0,ViewBag.VideoSrc.LastIndexOf('.'))/Spec" controls style="width: 100%;height: 250px;" type="video/mp4"></video>
                        }
                    </p>
                </div>


                <!-- Comment -->
                <div class="comments">
                    <div class="user-comments mbs">
                        @if (Model.Comments.Count != 0)
                        {
                            <div class="clearfix title-left">
                                <h1 @*class="col-title"*@ style="border-bottom: 1px solid #000;display: inline-block;" id="ReplyTextPipoId"> @Resource.Resource.Post_Comments</h1>
                            </div>
                            <div class="navigation">
                                <div class="prv"></div>
                                <div class="nxt"></div>
                            </div>
                            <ul class="comment-list clearfix">
                                @foreach (var comments in Model.Comments)
                                {
                                    <li class="comment byuser comment-author-admin bypostauthor even thread-even depth-1 parent" id="comment-2">
                                        <div id="div-comment-2" class="comment-body" style=" word-wrap: break-word;background-color: aliceblue;padding: 15px;margin-bottom: 10px;">
                                            <div style="font-size: 18px; color: black;">
                                                @*<img alt="Image Alt" src="images/80x80.png" class="image-author  photo">*@
                                                <span class="says" id="ReplyTextPipoId">@Resource.Resource.User_Says</span>
                                            </div>
                                            <p class="comment-meta" style=" font-size: 10px; margin-top: 10px; margin-bottom: -5px;" id="ReplyTextPipoId">
                                                @comments.CreateDateUtcJalali
                                            </p>
                                            <div id="AjaxCommentsLikeDisLikeBox_@comments.ID">
                                                <span><a href="#" title="Comment on Mumblecore sapiente pork belly">@comments.NumberOfReply</a><i class="icon-comments"></i> </span>
                                                <span><a href="#" title="Comment on Mumblecore sapiente pork belly">@comments.NumberOfLikes</a><i class="icon-thumbs-up"></i> </span>
                                                <span><a href="#" title="Comment on Mumblecore sapiente pork belly">@comments.NumberOfDislikes</a><i class="icon-thumbs-down"></i> </span>
                                            </div>
                                            <div class="" style="width: 90px;float:right; margin-right:75px;margin-top:-25px;">
                                                @using (Ajax.BeginForm("DisLikePostComment", "PostComment", new { CommentId = comments.ID }, new AjaxOptions
                                                {
                                                    UpdateTargetId = "AjaxCommentsLikeDisLikeBox_" + comments.ID,
                                                    InsertionMode = InsertionMode.Replace,
                                                    HttpMethod = "Post"
                                                }, null))
                                                {
                                                    <button class="tbutton medium tbutton5 color1" style="width: 20px;height: 20px;border: 1px solid;" href="#">
                                                        <span><i class="icon-thumbs-down" style="margin-left:-3px;float: left;"></i></span>
                                                    </button>
                                                }
                                                @using (Ajax.BeginForm("LikePostComment", "PostComment", new { CommentId = comments.ID }, new AjaxOptions
                                                {
                                                    UpdateTargetId = "AjaxCommentsLikeDisLikeBox_" + comments.ID,
                                                    InsertionMode = InsertionMode.Replace,
                                                    HttpMethod = "Post"
                                                }, null))
                                                {
                                                    <button class="tbutton medium tbutton5 color1" style="width: 20px;height: 20px;border: 1px solid;margin-right: 5px;margin-left: 5px;" href="#">
                                                        <span><i class="icon-thumbs-up" style="margin-left:-4px;float: left;"></i></span>
                                                    </button>
                                                }
                                                <button class="tbutton medium tbutton5 color1" style=" height: 20px; width: 20px;border: 1px solid;" type="button" id="AppendReplyButton_@comments.ID">
                                                    <span><i class="icon-reply" style="margin-left:-5px;float: left;"></i></span>
                                                </button>
                                            </div>
                                            <div id="AppendedReplyBox_@comments.ID" style="margin-top: 25px;"></div>
                                            <div id="AjaxCommentReplyBox_@comments.ID">

                                            </div>
                                            <p class="CommentTextPipo" style="margin-top: 20px;font-size: 16px;margin-bottom: 20px;">@comments.Text</p>
                                        </div>
                                        <ul style="margin-right: 85px;">
                                            @foreach (var replies in comments.Replies)
                                            {
                                                <li class="comment byuser comment-author-admin bypostauthor odd alt depth-2" id="comment-3" style="background-color: #f4f4f4">
                                                    <div id="div-comment-3" class="comment-body" style="margin-right: 20px; word-wrap: break-word;">
                                                        <div style="font-size: 18px; color: black;">
                                                            <span class="says"> @Resource.Resource.User_Says</span>
                                                        </div>
                                                        <div class="comment-meta" style=" font-size: 10px; margin-top: 15px; margin-bottom: -10px;">
                                                            @replies.CreateDateUtcJalali
                                                        </div>
                                                        <div class="" style="margin-top: 14px;" id="AjaxCommentReplyLikeDisLikeBox_@replies.ID">
                                                            <span><a href="#" title="Comment on Mumblecore sapiente pork belly">@replies.NumberOfLikes</a><i class="icon-thumbs-up"></i> </span>
                                                            <span><a href="#" title="Comment on Mumblecore sapiente pork belly">@replies.NumberOfDislikes</a><i class="icon-thumbs-down"></i> </span>
                                                        </div>
                                                        <div class="" style="width: 75px;float:right; margin-right:24px;margin-top:-20px;">
                                                            @using (Ajax.BeginForm("DisLikePostCommentReply", "PostCommentReply", new { CommentReplyId = replies.ID }, new AjaxOptions
                                                            {
                                                                UpdateTargetId = "AjaxCommentReplyLikeDisLikeBox_" + replies.ID,
                                                                InsertionMode = InsertionMode.Replace,
                                                                HttpMethod = "Post"
                                                            }, null))
                                                            {
                                                                <button class="tbutton medium tbutton5 color1" style="width: 20px;height: 20px;border: 1px solid;" href="#">
                                                                    <span><i class="icon-thumbs-down" style="margin-left:-4px;float: left;margin-top: 1px;"></i></span>
                                                                </button>
                                                            }
                                                            @using (Ajax.BeginForm("LikePostCommentReply", "PostCommentReply", new { CommentReplyId = replies.ID }, new AjaxOptions
                                                            {
                                                                UpdateTargetId = "AjaxCommentReplyLikeDisLikeBox_" + replies.ID,
                                                                InsertionMode = InsertionMode.Replace,
                                                                HttpMethod = "Post"
                                                            }, null))
                                                            {
                                                                <button class="tbutton medium tbutton5 color1" style="width: 20px;height: 20px;border: 1px solid;margin-left: 5px;" href="#">
                                                                    <span><i class="icon-thumbs-up" style="margin-left:-4px;float: left;margin-top: 1px;"></i></span>
                                                                </button>
                                                            }
                                                        </div>
                                                        <p class="ReplyTextPipo" style="margin-top: 15px; margin-bottom: 10px; color:black;">@replies.Text</p>

                                                    </div>
                                                </li><!-- #comment-## -->
                                            }
                                        </ul><!-- .children -->
                                    </li><!-- #comment-## -->
                                }
                            </ul>
                        }
                        @if (Model.Comments.Count == 0)
                        {
                            <h3 class="col-title">@Resource.Resource.User_NoCommentInserted</h3>
                        }
                    </div>
                </div>
                <!-- user comments -->
                <div class="clearfix mbs title-left">
                    <div class="clearfix">
                        <h3 class="col-title">@Resource.Resource.User_LeaveYourReply</h3>
                    </div>
                    <div id="respond" class="comment-respond">
                        @using (Ajax.BeginForm("AddPostComment", "PostComment", null, new AjaxOptions
                            {
                                UpdateTargetId = "AjaxCommentBox",
                                InsertionMode = InsertionMode.Replace,
                                LoadingElementId = "TicketReader_Loading",
                                HttpMethod = "Post"
                            }, null))
                        {
                            <div class="comment-form" id="commentform">
                                @Html.HiddenFor(model => model.ID)
                                @Html.TextAreaFor(model => model.Comment, new { @class = "inputer", @id = "comment", row = "8", style = "max-width: 685px; min-height: 200px;", required = "", placeholder = @Resource.Resource.User_PleaseInsertYourComment })
                                <p class="form-submit">
                                    <button class="tbutton large tbutton2 color1" style=" height: 60px;" href="#">
                                        <span><i class=""></i>@Resource.Resource.User_SubmitCommentButton</span>
                                    </button>
                                </p>
                            </div>
                        }
                        <div id="AjaxCommentBox">

                        </div>
                    </div><!-- #respond -->
                </div><!-- form -->
            </div>
            <!-- endComment -->



        </div><!-- post -->
        <!-- PAGINATION -->
        <p class="hide"></p>
        <!-- END PAGINATION -->
    </div>
    <!--End grid 8 posts -->


</div><!-- row -->
</div><!-- end page content -->
