@model IEnumerable<BigMill.Models.PostCommentModel>
@{
    Layout = null;
}
<div class="panel panel-white no-radius" style="min-height: 430px;">
    <div class="panel-heading border-light">
        <h4 class="panel-title">@Resource.Resource.View_LastCommentsReplies</h4>
        <ul class="panel-heading-tabs border-light">
            <li>
                <div class="pull-right">
                    <a href="@Url.Action("ListComment", "Comments")" type="button" class="btn bg-dark-blue">
                        @Resource.Resource.View_CommentManagement
                    </a>
                </div>
            </li>
            <li class="panel-tools">
                <a data-original-title="Refresh" data-toggle="tooltip" data-placement="top" class="btn btn-transparent btn-sm panel-refresh" href="#"><i class="ti-reload"></i></a>
            </li>
        </ul>
    </div>
    <div class="panel-body">
        <ul class="timeline-xs margin-top-15 margin-bottom-15">
            @foreach (var item in Model)
            {
                if (item.NumberOfReply > -1)
                {
                    <li class="timeline-item success" style="background-color:#EFFFE8;padding:5px;">
                        <div class="margin-right-15">
                            <div class="text-muted text-small">
                                @item.CreateDateUtcJalali
                            </div>
                            <p>
                                @item.Text
                            </p>
                        </div>
                    </li>
                }
                else
                {
                    <li class="timeline-item warning" style="background-color:#FDF3E1;padding:5px;">
                        <div class="margin-right-15">
                            <div class="text-muted text-small">
                                @item.CreateDateUtcJalali
                            </div>
                            <p>
                                @item.Text
                            </p>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
</div>