@model IEnumerable<BigMill.Models.TicketInboxModel>

<p>
    @Html.ActionLink("Create New", "AddTicketInbox")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TicketContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOnUTC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketForm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F_Ticket_Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TicketContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOnUTC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketForm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.F_Ticket_Id)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditTicketInbox", new { TicketInboxId = item.ID }) |
            @Html.ActionLink("ChangeStatus", "ChangeStatusTicketInbox", new { TicketInboxId = item.ID }) |
            @Html.ActionLink("Delete", "DeleteTicketInbox", new { TicketInboxId = item.ID })
        </td>
    </tr>
}

</table>
