@model BigMill.Models.TicketModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TicketModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdateOnUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdateOnUtc)
        </dd>
        @Html.HiddenFor(model=>model.ID)

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "ListTicket")
        </div>
    }
</div>
