@model IEnumerable<BigMill.Models.TicketInboxModel>
@{
    Layout = null;
}

<div class="row clearfix">
    <div class="comments">
        <div class="user-comments mbs">
            <div class="clearfix title-left">
                <h1 @*class="col-title"*@ style="border-bottom: 1px solid #000;margin-right: 375px;display: inline-block;" id="ReplyTextPipoId"> @Resource.Resource.User_RequestConversationList</h1>
            </div>
            <ul class="comment-list clearfix" style="width: 1060px;">
                @foreach (var inbox in Model)
                {
                    <li class="comment byuser comment-author-admin bypostauthor even thread-even depth-1 parent" id="comment-2">
                        <div id="div-comment-2" class="comment-body" style="word-wrap: break-word;background-color: lavender;width: 500px;padding-top: 20px;padding-right: 20px;padding-bottom: 20px;">
                            <div style="font-size: 18px; color: black;">
                                <span class="says" id="ReplyTextPipoId">@Resource.Resource.User_YourRequest</span>
                            </div>
                            <p class="comment-meta" style=" font-size: 10px; margin-top: 10px; margin-bottom: -5px;" id="ReplyTextPipoId">
                                @inbox.CreatedOnUTCJalali
                            </p>
                            @*<p class="comment-meta" style=" font-size: 10px; margin-top: 10px; margin-bottom: -5px;" id="ReplyTextPipoId">
                                </p>*@
                            <p class="CommentTextPipo" style="margin-top: 20px;font-size: 16px;margin-bottom: 20px;">@inbox.TicketContent</p>
                            @{
                    var query = inbox.TicketInboxMedia.FirstOrDefault();
                    if (query != null)
                    {
                        if (query.MediaType.StartsWith("video"))
                        {
                            <video src="/UserStreaming/File/@query.MediaType.Split('/')[0]/@query.MediaPath.Split('.')[0]/@query.MediaPath.Split('.')[1]" width="270" height="220" controls style="margin-right:-5px" type="@query.MediaType"></video>
                        }
                        else if (query.MediaType.StartsWith("audio"))
                        {
                            <audio src="/UserStreaming/File/@query.MediaType.Split('/')[0]/@query.MediaPath.Split('.')[0]/@query.MediaPath.Split('.')[1]" width="270" height="220" controls style="margin-right:-5px" type="@query.MediaType"></audio>
                        }
                        else if (query.MediaType.StartsWith("image"))
                        {
                            <img src="/UserStreaming/File/@query.MediaType.Split('/')[0]/@query.MediaPath.Split('.')[0]/@query.MediaPath.Split('.')[1]" width="270" style="margin-right:-5px" type="@query.MediaType">
                        }


                    }
                            }
                        </div>
                        <ul style="float:left;width: 525px;">
                            @foreach (var outbox in inbox.TicketOutbox)
                            {
                                <li class="comment byuser comment-author-admin bypostauthor odd alt depth-2" id="comment-3" style="background-color: #f4f4f4">
                                    <div id="div-comment-3" class="comment-body" style="margin-right: 20px; word-wrap: break-word;">
                                        <div style="font-size: 18px; color: black;">
                                            <span class="says"> @Resource.Resource.User_YourRequestAnswer</span>
                                        </div>
                                        <div class="comment-meta" style=" font-size: 10px; margin-top: 15px; margin-bottom: -10px;">
                                            @outbox.CreatedOnUTCJalali
                                        </div>
                                        <p class="ReplyTextPipo" style="margin-top: 15px; margin-bottom: 10px; color:black;">@outbox.Content_One</p>

                                    </div>
                                </li><!-- #comment-## -->
                            }
                        </ul><!-- .children -->
                    </li><!-- #comment-## -->
                }
            </ul>
        </div><!-- #respond -->
    </div><!-- form -->
</div>
