@model BigMill.Models.PostCommentModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PostCommentModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateOnUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateOnUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Display)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Display)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfReply)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfReply)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfLikes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfLikes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfDislikes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfDislikes)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "ListPostComment")
        </div>
    }
</div>
