@model BigMill.Models.TicketOutBoxModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TicketOutBoxModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Content_One)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content_One)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isRead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isRead)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SMSText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMSText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SMSStatusOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMSStatusOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SMSStatusTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMSStatusTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOnUTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOnUTC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F_TicketInbox_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F_TicketInbox_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F_User_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F_User_Id)
        </dd>
        @Html.HiddenFor(model=>model.ID)

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "ListTicketOutBox")
        </div>
    }
</div>
