


<section id="page-title padding-bottom-0">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">@ViewBag.PageTittle_Tittle</h1>
            <span class="mainDescription">@ViewBag.PageTittle_Description <small class="block">@ViewBag.PageTittle_ContactUS</small></span>
        </div>
        <div class="col-sm-3 pull-left">
            <div class="panel panel-transparent">
                <div class="panel-heading">
                    <div class="panel-title text-center">

                        <strong>
                            میانبر
                        </strong>

                    </div>
                </div>
                <div class="panel-body center" style="padding:0px 15px 0px 15px">
                    <div class="space12">
                        <div class="btn-group-vertical">
                            @foreach (var path in (List<BigMill.Areas.Admin3mill.Models.PageTitle>)ViewBag.PathLog)
                            {
                                <a class="btn btn-wide btn-scroll btn-scroll-top ti-shopping-cart @path.HtmlAttribute" href="~/Admin3mill/@path.ControllerName/@path.ActionName@path.RouteValue">
                                    <span>@path.Pagetitle</span>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
