@model BigMill.Models.TelegramModel
@using BigMill.Infrastructure
@{
    Layout = "~/Areas/Admin3mill/Views/Shared/_Layout.cshtml";
}
@section CSS_Requested{
    <link href="~/Content/AdminContent/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/AdminContent/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="~/Content/AdminContent/vendor/jquery-file-upload/css/jquery.fileupload-ui.css">
    <link href="~/Content/AdminContent/vendor/sweetalert/sweet-alert.css" rel="stylesheet" media="screen">
    <link href="~/Content/AdminContent/vendor/sweetalert/ie9.css" rel="stylesheet" media="screen">
    <link href="~/Content/AdminContent/vendor/toastr/toastr.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/AdminContent/vendor/bootstrap-fileinput/jasny-bootstrap.min.css" rel="stylesheet" media="screen">

}
@section js_Requested{
    <script src="~/Content/AdminContent/vendor/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/CKFinderScripts/ckfinder.js"></script>
    <script src="~/Content/AdminContent/vendor/ckeditor/adapters/jquery.js"></script>
    <script src="~/Content/AdminContent/vendor/maskedinput/jquery.maskedinput.min.js"></script>
    <script src="~/Content/AdminContent/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/Content/AdminContent/vendor/autosize/autosize.min.js"></script>
    <script src="~/Content/AdminContent/vendor/selectFx/classie.js"></script>
    <script src="~/Content/AdminContent/vendor/selectFx/selectFx.js"></script>
    <script src="~/Content/AdminContent/vendor/select2/select2.min.js"></script>
    <script src="~/Content/AdminContent/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/AdminContent/vendor/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/Content/AdminContent/vendor/sweetalert/sweet-alert.min.js"></script>
    <script src="~/Content/AdminContent/vendor/toastr/toastr.min.js"></script>

    <script src="~/Content/AdminContent/vendor/bootstrap-fileinput/jasny-bootstrap.js"></script>

}

@section js_Handler{
    <script src="~/Content/AdminContent/assets/js/form-text-editor.js"></script>
    <script src="~/Content/AdminContent/assets/js/form-elements.js"></script>
    <script src="~/Content/AdminContent/assets/js/ui-notifications.js"></script>
    <script>
        jQuery(document).ready(function () {
            UINotifications.init();
            Main.init();
        });
    </script>


<script type="text/javascript">
    $(document).ready(function () {
        $("#SendMessageAppendBtn").click(function () {
            PipoClearFeature();
            var element = document.getElementById("pipoSendMessage");
            element.classList.add("featured");
        });
        $("#SendPhotoAppendBtn").click(function () {
            PipoClearFeature();
            var element = document.getElementById("pipoSendPhoto");
            element.classList.add("featured");
        });
        $("#SendVideoAppendBtn").click(function () {
            PipoClearFeature();
            var element = document.getElementById("pipoSendVideo");
            element.classList.add("featured");
        });
        $("#SendVoiceAppendBtn").click(function () {
            PipoClearFeature();
            var element = document.getElementById("pipoSendVoice");
            element.classList.add("featured");
        });
        $("#SendDocumentAppendBtn").click(function () {
            PipoClearFeature();
            var element = document.getElementById("pipoSendDocumnet");
            element.classList.add("featured");
        });

    });
</script>

    <script type="text/javascript">
        function PipoClearFeature() {
            var element;
            element = document.getElementById("pipoSendMessage");
            element.classList.remove("featured");

            element = document.getElementById("pipoSendPhoto");
            element.classList.remove("featured");


            element = document.getElementById("pipoSendVideo");
            element.classList.remove("featured");


            element = document.getElementById("pipoSendVoice");
            element.classList.remove("featured");


            element = document.getElementById("pipoSendDocumnet");
            element.classList.remove("featured");

        };


        function TelegramMedia_Submit(ActionName) {
            var temp = ActionName;
            var formData = new FormData();
            if (ActionName != "SendMessage") {
                var file = document.getElementById("Path").files[0];
                formData.append("Path", file);
            }
            var Caption = document.getElementById("Caption").value;
            formData.append("Caption", Caption);
            $.ajax({
                type: "POST",
                url: "../../Admin3mill/Telegram/" +ActionName, 
                data: formData,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    if (ActionName == "SendMessage") {
                        document.getElementById('SendMessage_Loading').style.display = 'block';
                    }
                    else if (ActionName == "SendPhoto") {
                        document.getElementById('SendPhoto_Loading').style.display = 'block';
                    }
                    else if (ActionName =="SendVideo") {
                        document.getElementById('SendVideo_Loading').style.display = 'block';
                    }
                    else if (ActionName == "SendVoice") {
                        document.getElementById('SendVoice_Loading').style.display = 'block';
                    }
                    else if (ActionName == "SendDocument") {
                        document.getElementById('SendDocument_Loading').style.display = 'block';
                    }
                },
                success: function (response) {
                    $("#AppendedAnswers").empty();
                    $("#AppendedAnswers").append(response);
                },
                complete: function () {
                    if (ActionName == "SendMessage") {
                        document.getElementById('SendMessage_Loading').style.display = 'none';
                    }
                    else if (ActionName == "SendPhoto") {
                        document.getElementById('SendPhoto_Loading').style.display = 'none';
                    }
                    else if (ActionName == "SendVideo") {
                        document.getElementById('SendVideo_Loading').style.display = 'none';
                    }
                    else if (ActionName == "SendVoice") {
                        document.getElementById('SendVoice_Loading').style.display = 'none';
                    }
                    else if (ActionName == "SendDocument") {
                        document.getElementById('SendDocument_Loading').style.display = 'none';
                    }
                },
                error: function (response) {
                    $("#AppendedAnswers").empty();
                    $("#AppendedAnswers").append("<div class=\"col-lg-6 col-lg-offset-3\"><div role=\"alert\" class=\"alert alert-success\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">×</span></button> عملیات ارسال به کانال تلگرام با موفقیت انجام گرفت. </div></div>");
                },
               
            });
        };
    </script>

}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryajax")
<div class="main-content">
    <div class="wrap-content container" id="container">
        <!-- start: PAGE TITLE -->
        @*@Html.Partial("PageTittle")*@
        <!-- end: PAGE TITLE -->
        <!-- start: PRICING TABLE EXAMPLE 3 -->
        <div class="container-fluid container-fullw bg-white">
            <div class="row">
                <div class="col-md-12">
                    <div class="pricing-table pricing-blue">
                        <div class="col-lg-1 col-md-1 col-xs-6"></div>
                        <div class="col-lg-2 col-md-2 col-xs-6">
                            <ul id="pipoSendMessage" class="plan plan1">
                                <li class="plan-name">
                                    @Resource.Resource.Telegram_SendMessage
                                </li>
                                <li class="plan-price" style="text-align: center; ">
                                    <img src="~/Content/AdminContent/z3mill/img/telegram/text-icon.png" class="img-responsive" />
                                </li>
                                <li id="SendMessage_Loading" style="display:none">
                                    <img src="~/Content/AdminContent/z3mill/ajax-load.gif" class="img-responsive" />
                                </li>
                                <li class="plan-action">
                                    @Ajax.RawActionLink("<i class=\"fa fa-send fa fa-white\"></i>",
                                              "SendMessage", "Telegram",
                                    null,
                                         new AjaxOptions
                                         {
                                             UpdateTargetId = "AppendedAnswers",
                                             InsertionMode = InsertionMode.Replace,
                                             LoadingElementId = "SendMessage_Loading",
                                             LoadingElementDuration = 5,

                                         }, new { id = "SendMessageAppendBtn", @class = "btn btn-block btn-green" })
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-md-2 col-xs-6">
                            <ul id="pipoSendPhoto" class="plan plan2">
                                <li class="plan-name">
                                    @Resource.Resource.Telegram_SendPhoto
                                </li>
                                <li class="plan-price">
                                    <img src="~/Content/AdminContent/z3mill/img/telegram/image-icon.png" class="img-responsive" />
                                </li>
                                <li id="SendPhoto_Loading" style="display:none">
                                    <img src="~/Content/AdminContent/z3mill/ajax-load.gif" class="img-responsive" />
                                </li>
                                <li class="plan-action">
                                    @Ajax.RawActionLink("<i class=\"fa fa-send fa fa-white\"></i>",
                                              "SendPhoto", "Telegram",
                                    null,
                                         new AjaxOptions
                                         {
                                             UpdateTargetId = "AppendedAnswers",
                                             InsertionMode = InsertionMode.Replace,
                                             LoadingElementId = "SendPhoto_Loading",
                                             LoadingElementDuration = 5,

                                         }, new { id = "SendPhotoAppendBtn", @class = "btn btn-block btn-green" })
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-md-2 col-xs-6">
                            <ul id="pipoSendVideo" class="plan plan3">
                                <li class="plan-name">
                                    @Resource.Resource.Telegram_SendVideo
                                </li>
                                <li class="plan-price">
                                    <img src="~/Content/AdminContent/z3mill/img/telegram/video-icon.png" class="img-responsive" />
                                </li>
                                <li id="SendVideo_Loading" style="display:none">
                                    <img src="~/Content/AdminContent/z3mill/ajax-load.gif" class="img-responsive" />
                                </li>
                                <li class="plan-action">
                                    @Ajax.RawActionLink("<i class=\"fa fa-send fa fa-white\"></i>",
                                    "SendVideo", "Telegram",
                                    null,
                                         new AjaxOptions
                                         {
                                             UpdateTargetId = "AppendedAnswers",
                                             InsertionMode = InsertionMode.Replace,
                                             LoadingElementId = "SendVideo_Loading",
                                             LoadingElementDuration = 5,

                                         }, new { id = "SendVideoAppendBtn", @class = "btn btn-block btn-green" })
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-md-2 col-xs-6">
                            <ul id="pipoSendVoice" class="plan plan4">
                                <li class="plan-name">
                                    @Resource.Resource.Telegram_SendVoice
                                </li>
                                <li class="plan-price">
                                    <img src="~/Content/AdminContent/z3mill/img/telegram/voice-icon.png" class="img-responsive" />
                                </li>
                                <li id="SendVoice_Loading" style="display:none">
                                    <img src="~/Content/AdminContent/z3mill/ajax-load.gif" class="img-responsive" />
                                </li>
                                <li class="plan-action">
                                    @Ajax.RawActionLink("<i class=\"fa fa-send fa fa-white\"></i>",
                                             "SendVoice", "Telegram",
                                    null,
                                         new AjaxOptions
                                         {
                                             UpdateTargetId = "AppendedAnswers",
                                             InsertionMode = InsertionMode.Replace,
                                             LoadingElementId = "SendVoice_Loading",
                                             LoadingElementDuration = 5,

                                         }, new { id = "SendVoiceAppendBtn", @class = "btn btn-block btn-green" })
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-md-2 col-xs-6">
                            <ul id="pipoSendDocumnet" class="plan plan4">
                                <li class="plan-name">
                                    @Resource.Resource.Telegram_SendDocument
                                </li>
                                <li class="plan-price">
                                    <img src="~/Content/AdminContent/z3mill/img/telegram/file-icon.png" class="img-responsive" />
                                </li>
                                <li id="SendDocument_Loading" style="display:none">
                                    <img src="~/Content/AdminContent/z3mill/ajax-load.gif" class="img-responsive" />
                                </li>
                                <li class="plan-action center">
                                    @Ajax.RawActionLink("<i class=\"fa fa-send fa fa-white\"></i>",
                                                      "SendDocument", "Telegram",
                                    null,
                                         new AjaxOptions
                                         {
                                             UpdateTargetId = "AppendedAnswers",
                                             InsertionMode = InsertionMode.Replace,
                                             LoadingElementId = "SendDocument_Loading",
                                             LoadingElementDuration = 5,

                                         }, new { id = "SendDocumentAppendBtn", @class = "btn btn-block btn-green" })
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-1 col-md-1 col-xs-6"></div>
                    </div>
                </div>
                <div class="row">
                    <div id="AppendedAnswers" class="col-lg-12">

                    </div>
                </div>
            </div>
        </div>

        <!-- end: PRICING TABLE EXAMPLE 3 -->

    </div>
</div>