@{
    ViewBag.Title = "گالری تصاویر";
}
@model PagedList.IPagedList<BigMill.Models.GalleryModel>
@using PagedList.Mvc;

@section js_Requested{

    <script type='text/javascript' src='~/Content/UserContent/js/jquery.quicksand.js?ver=1.2.2'></script>

}

@section BreadCrumb{
    <div class="breadcrumb-place" style="height: 70px;">
        <div class="row clearfix">
            <div class="grid_12" style="margin-bottom: 25px;height: 30px;margin-top: 10px;">
                <div class="gap clearfix custom-h30"></div>
                <div class="breaking-news-bar" style="margin-left:25px;margin-top: -15px;">
                    <span class="title blink_me custom-color-icon6" style="margin-right: 30px;margin-top: -45px;">@Resource.Resource.User_MessagesAndInformations</span>
                    <ul id="nt_1381119256" class="newst" style="color:white;">
                        @Html.Action("InformationBar", "Utility")
                    </ul>
                </div>
                <div class="gap clearfix custom-h30"></div>
            </div>
        </div><!-- row -->
    </div>
}



<div class="page-content">

    <div class="row clearfix mb" style="background-color: #efefef; padding: 10px;width:">

        <div class="filterable st5 tal">
            <ul class="filter" style="float:right;">
                <li class="all current"><a href="#" data-filter="*" class="active">@Resource.Resource.View_All</a></li>
                <li class="Public" style="display:inline-block;"><a href="#">@Resource.Resource.View_PublicAkhbar</a></li>
                <li class="Hoze" style="display:inline-block;"><a href="#">@Resource.Resource.View_HozeAkhbar</a></li>
                <li class="Speech" style="display:inline-block;"><a href="#">@Resource.Resource.View_Speech</a></li>
                <li class="Question" style="display:inline-block;"><a href="#">@Resource.Resource.View_Questions</a></li>
                <li class="Interview" style="display:inline-block;"><a href="#">@Resource.Resource.View_Interviews</a></li>
                <li class="Correspondence" style="display:inline-block;"><a href="#">@Resource.Resource.View_Correspondence</a></li>
            </ul>
        </div>

    </div>

    <div class="row clearfix mbs">
        <div class="alpha omega portfolio3" style="width:100%;">

            <ul class="portfolio clearfix" style="height: 1155px;">
                @foreach (var item in Model)
                {
                    if (item.F_SubCategroy_Id == int.Parse(System.Configuration.ConfigurationManager.AppSettings["AkhbarPublicID"]))
                    {
                        <li class="grid_4 alpha" data-id="@item.ID" data-type="Public all" style="height: 274px;">
                            <div class="hover-fx zoom">
                                <img src="~/Content/UplodedImages/PostImages/@item.ImgPath" alt="@item.Title" style="height: 275px;">
                                <a class="fRight" href="~/Content/UplodedImages/PostImages/@item.ImgPath" data-gal="photo" title="@item.Title" style="margin-right:150px!important;">
                                    <span><i class="icon-zoom-in" style="margin-right:12px;"></i></span>
                                </a>
                            </div>
                        </li>
                    }
                    else if (item.F_SubCategroy_Id == int.Parse(System.Configuration.ConfigurationManager.AppSettings["AkhbarHozeID"]))
                    {
                        <li class="grid_4 alpha" data-id="@item.ID" data-type="Hoze all" style="height: 274px;">
                            <div class="hover-fx zoom">
                                <img src="~/Content/UplodedImages/PostImages/@item.ImgPath" alt="@item.Title" style="height: 275px;">
                                <a class="fRight" href="~/Content/UplodedImages/PostImages/@item.ImgPath" data-gal="photo" title="@item.Title" style="margin-right:150px!important;">
                                    <span><i class="icon-zoom-in" style="margin-right:12px;"></i></span>
                                </a>
                            </div>
                        </li>
                    }
                    else if (item.F_SubCategroy_Id == int.Parse(System.Configuration.ConfigurationManager.AppSettings["SpeechID"]))
                    {
                        <li class="grid_4 alpha" data-id="@item.ID" data-type="Speech all" style="height: 274px;">
                            <div class="hover-fx zoom">
                                <img src="~/Content/UplodedImages/PostImages/@item.ImgPath" alt="@item.Title" style="height: 275px;">
                                <a class="fRight" href="~/Content/UplodedImages/PostImages/@item.ImgPath" data-gal="photo" title="@item.Title" style="margin-right:150px!important;">
                                    <span><i class="icon-zoom-in" style="margin-right:12px;"></i></span>
                                </a>
                            </div>
                        </li>
                    }
                    else if (item.F_SubCategroy_Id == int.Parse(System.Configuration.ConfigurationManager.AppSettings["QuestionID"]))
                    {
                        <li class="grid_4 alpha" data-id="@item.ID" data-type="Question all" style="height: 274px;">
                            <div class="hover-fx zoom">
                                <img src="~/Content/UplodedImages/PostImages/@item.ImgPath" alt="@item.Title" style="height: 275px;">
                                <a class="fRight" href="~/Content/UplodedImages/PostImages/@item.ImgPath" data-gal="photo" title="@item.Title" style="margin-right:150px!important;">
                                    <span><i class="icon-zoom-in" style="margin-right:12px;"></i></span>
                                </a>
                            </div>
                        </li>
                    }
                    else if (item.F_SubCategroy_Id == int.Parse(System.Configuration.ConfigurationManager.AppSettings["InterviewID"]))
                    {
                        <li class="grid_4 alpha" data-id="@item.ID" data-type="Interview all" style="height: 274px;">
                            <div class="hover-fx zoom">
                                <img src="~/Content/UplodedImages/PostImages/@item.ImgPath" alt="@item.Title" style="height: 275px;">
                                <a class="fRight" href="~/Content/UplodedImages/PostImages/@item.ImgPath" data-gal="photo" title="@item.Title" style="margin-right:150px!important;">
                                    <span><i class="icon-zoom-in" style="margin-right:12px;"></i></span>
                                </a>
                            </div>
                        </li>
                    }
                    else if (item.F_SubCategroy_Id == int.Parse(System.Configuration.ConfigurationManager.AppSettings["CorrespondenceID"]))
                    {
                        <li class="grid_4 alpha" data-id="@item.ID" data-type="Correspondence all" style="height: 274px;">
                            <div class="hover-fx zoom">
                                <img src="~/Content/UplodedImages/PostImages/@item.ImgPath" alt="@item.Title" style="height: 275px;">
                                <a class="fRight" href="~/Content/UplodedImages/PostImages/@item.ImgPath" data-gal="photo" title="@item.Title" style="margin-right:150px!important;">
                                    <span><i class="icon-zoom-in" style="margin-right:12px;"></i></span>
                                </a>
                            </div>
                        </li>
                    }
                }
            </ul>
            <!-- end of .portfolio UL -->
        </div>
        <!-- PAGINATION -->
        <div style="text-align:center;direction:rtl!important" class="pagination-tt clearfix">
            صفحه @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) از @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("PhotosGallery", "Gallery", new { page }))
        </div>
        <!-- END PAGINATION -->
    </div><!-- row -->

</div>