@model BigMill.Models.PostModel
@{
    Layout = "~/Areas/Admin3mill/Views/Shared/_Layout.cshtml";
}
@section CSS_Requested{
    <link href="~/Content/AdminContent/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/AdminContent/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/AdminContent/vendor/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/AdminContent/vendor/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="~/Content/AdminContent/vendor/jquery-file-upload/css/jquery.fileupload-ui.css">

    <link href="~/Content/AdminContent/vendor/ladda-bootstrap/ladda-themeless.min.css" rel="stylesheet" media="screen">

    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" />
    <link rel="stylesheet" href="~/Content/AdminContent/z3mill/main.css">


    <link href="~/Content/AdminContent/vendor/bootstrap-fileinput/jasny-bootstrap.min.css" rel="stylesheet" media="screen">

}
@section js_Requested{
    <script src="~/Content/AdminContent/vendor/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/CKFinderScripts/ckfinder.js"></script>
    <script src="~/Content/AdminContent/vendor/ckeditor/adapters/jquery.js"></script>
    <script src="~/Content/AdminContent/vendor/maskedinput/jquery.maskedinput.min.js"></script>
    <script src="~/Content/AdminContent/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/Content/AdminContent/vendor/autosize/autosize.min.js"></script>
    <script src="~/Content/AdminContent/vendor/selectFx/classie.js"></script>
    <script src="~/Content/AdminContent/vendor/selectFx/selectFx.js"></script>
    <script src="~/Content/AdminContent/vendor/select2/select2.min.js"></script>
    <script src="~/Content/AdminContent/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/AdminContent/vendor/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/Content/AdminContent/vendor/ladda-bootstrap/spin.min.js"></script>
    <script src="~/Content/AdminContent/vendor/ladda-bootstrap/ladda.min.js"></script>



    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

    <script src="~/Content/AdminContent/z3mill/jquery.autocomplete.multiselect.js"></script>
    <script src="~/Content/AdminContent/z3mill/main.js"></script>

    <script src="~/Content/AdminContent/vendor/bootstrap-fileinput/jasny-bootstrap.js"></script>


}

@section js_Handler{
    <script src="~/Content/AdminContent/assets/js/form-text-editor.js"></script>
    <script src="~/Content/AdminContent/assets/js/form-elements.js"></script>
    <script src="~/Content/AdminContent/assets/js/ui-buttons.js"></script>
    <script>
        jQuery(document).ready(function () {
            Main.init();
            TextEditor.init();
            FormElements.init();
            UIButtons.init();

        });

        var availableTagsw = [];
        @foreach (var q in ViewBag.Tags as List<BigMill.Models.TagModel>) {
            <text>
        availableTagsw.push("@q.Text");
        </text>
        }
        availableTags = availableTagsw;

        @foreach (var q in Model.Tags)
        {
             <text>
        $(function () {
            document.getElementById('myAutocomplete').value = "@q";
            var e = $.Event('keypress');
            e.charCode = 13; // Character 'A'
            $('#myAutocomplete').trigger(e);
        });
        </text>
        }

        $('#PipoSubmit').click(function () {
            var PipoTags = "";
            var TagsElements = document.getElementsByClassName('ui-autocomplete-multiselect-item');
            for (var i = 0; i < TagsElements.length; i++) {
                PipoTags = PipoTags + "#" + TagsElements[i].textContent;
            }
            $('#TagsText').val(PipoTags);

        });
    </script>
<script>
    var roxyFileman = '/fileman/index.html';
    $(function () {


        CKEDITOR.replace('Content_Four', {
            filebrowserBrowseUrl: roxyFileman,
            filebrowserImageBrowseUrl: roxyFileman + '?type=image',
            removeDialogTabs: 'link:upload;image:upload'
        });
    });
</script>
}

<div class="main-content">
    <div class="wrap-content container" id="container">
        <!-- start: PAGE TITLE -->
        @Html.Partial("PageTittle")
        <!-- end: PAGE TITLE -->
        @using (Html.BeginForm("EditCorrespondence", "Parliament", FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.TagsText)
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(m => m.Content_Two)
            <div class="container-fluid container-fullw bg-white">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row margin-top-30">
                            <div class="col-lg-6 col-md-12">
                                <fieldset>
                                    <legend>
                                        @Resource.Resource.Post_Content_One<span class="symbol required"></span>
                                    </legend>
                                    <div class="form-group">
                                        <div class="note-editor">
                                            @Html.TextAreaFor(model => model.Content_One, new { @class = "form-control autosize area-animated FixedColTextArea", placeholder = @Resource.Resource.Post_Content_One, @style = "height:85px; min-height:85px;  max-height:85px", maxlength = "190" })
                                            @Html.ValidationMessageFor(model => model.Content_One)
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>
                                        بیشتر<span class="symbol required"></span>
                                    </legend>
                                    <div class="col-lg-10 col-md-12">
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="user-image">
                                                <div class="fileinput-new thumbnail">
                                                    <img src="~/Content/UplodedImages/PostImages/@Model.Content_Two" alt="">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                                <div class="user-image-buttons">
                                                    <span class="btn btn-azure btn-file btn-sm">
                                                        <span class="fileinput-new"><i class="fa fa-pencil"></i></span><span class="fileinput-exists"><i class="fa fa-pencil"></i></span>
                                                        <input id="newUploadImage" name="newUploadImage" type="file">
                                                    </span>
                                                    <a href="#" class="btn fileinput-exists btn-red btn-sm" data-dismiss="fileinput">
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-12">

                                        <div class="form-group center">
                                            @Html.LabelFor(model => model.Status)
                                            <div class="checkbox">
                                                @Html.CheckBoxFor(model => model.Status, new { @class = "js-switch pipo-switch", @checked = "", @style = "display: none;" })
                                                @Html.ValidationMessageFor(model => model.Status)
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <fieldset>
                                    <legend>
                                        @Resource.Resource.Post_Content_Three<span class="symbol required"></span>
                                    </legend>
                                    <div class="form-group">
                                        <div class="note-editor">
                                            @Html.TextAreaFor(model => model.Content_Three, new { @class = "form-control autosize area-animated FixedColTextArea", placeholder = @Resource.Resource.Post_Content_Three, @style = "height:120px; min-height:120px;  max-height:120px", maxlength = "300" })
                                            @Html.ValidationMessageFor(model => model.Content_Three)
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>
                                        @Resource.Resource.Post_TagsText<span class="symbol required"></span>
                                    </legend>
                                    <div class="form-group" style="float:left;direction:rtl;width:100%">
                                        <input id="myAutocomplete" type="text" />
                                        @Html.ValidationMessageFor(model => model.TagsText)
                                    </div>
                                </fieldset>
                                <fieldset style="text-align:center;">
                                    <legend>
                                        ویدیو<span class="symbol required"></span>
                                    </legend>
                                    @if (ViewBag.VideoSrc != "")
                                    {
                                        <video src="/api/video/@ViewBag.VideoSrc.ToString().Substring(ViewBag.VideoSrc.LastIndexOf('.')+1)/@ViewBag.VideoSrc.ToString().Substring(0,ViewBag.VideoSrc.LastIndexOf('.'))/Spec" controls style="width: 100%;height: 250px;" type="video/mp4"></video>
                                        <span class="btn btn-success fileinput-button">
                                            <i class="glyphicon glyphicon-edit"></i> <span>ویرایش ویدیو ...</span>
                                            <input type="file" name="Video">
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="btn btn-success fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i> <span>افزودن ویدیو ...</span>
                                            <input type="file" name="Video">
                                        </span>
                                    }
                                    @Html.ValidationMessageFor(model => model.Video)
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- start: TEXT EDITOR -->
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="over-title">@Resource.Resource.Post_InsertYourFullContent</h5>
                        <p class="margin-bottom-30">
                            @Resource.Resource.Editor_AboutEditor
                        </p>

                        @Html.TextAreaFor(model => model.Content_Four, new { @class = "ckeditor form-control", placeholder = @Resource.Resource.Post_Content_Four, cols = "10", rows = "10" })
                        @Html.ValidationMessageFor(model => model.Content_Four)

                    </div>
                </div>
                <!-- end: TEXT EDITOR -->

                <div style="text-align:left">
                    <button type="submit" class="btn btn-wide btn-dark-green ladda-button " data-style="contract" id="PipoSubmit">
                        <span class="ladda-label">@Resource.Resource.Edit</span>
                    </button>
                </div>
            </div>
        }
    </div>
</div>
