@model BigMill.Models.PostModel
@{
    Layout = "~/Areas/Admin3mill/Views/Shared/_Layout.cshtml";
}
@section js_Requested
{
    <script src="~/Content/AdminContent/vendor/Chart.js/Chart.min.js"></script>
    <script src="~/Content/AdminContent/vendor/jquery.sparkline/jquery.sparkline.min.js"></script>

}
@section js_Handler
{
    <script src="~/Content/AdminContent/assets/js/index.js"></script>
    <script>
    jQuery(document).ready(function () {
        Main.init();
        Index.init();
    });
    </script>
}
<div class="main-content">
    <div class="wrap-content container" id="container">
        <!-- start: PAGE TITLE -->
        @Html.Partial("PageTittle")
        <!-- end: PAGE TITLE -->
        <!-- start: FOURTH SECTION -->
        <div class="container-fluid container-fullw bg-white">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-3">
                    <div class="panel panel-white no-radius">
                        <div class="panel-heading border-bottom">
                            <h4 class="panel-title">@Resource.Resource.View_NemayesheChatTelegram</h4>
                        </div>
                        <div class="panel-body no-padding">
                            <div class="panel-scroll height-330 perfect-scrollbar ps-container ps-active-y" id="chatBox">
                                <ol class="discussion">
                                    <li class="self">
                                        <div class="message">
                                            <div class="message-name">
                                                @Resource.Resource.View_ModirTelegramChannel
                                            </div>
                                            <div class="message-text">
                                                <img src="~/Content/UplodedImages/PostImages/@Model.Content_Two" height="180" width="300" class="img-rounded img-responsive" />
                                            </div>
                                        </div>
                                        <div class="message">
                                            <div class="message-name">
                                                @Resource.Resource.View_Supprot
                                            </div>
                                            <div class="message-text">
                                                @Model.Content_Three
                                            </div>
                                            <div class="message-avatar">
                                                <img src="~/Content/UplodedImages/khezri.jpg" alt="">
                                            </div>
                                        </div>
                                    </li>
                                    <li class="messages-date">
                                        @DateTime.Now.ToString()
                                    </li>
                                </ol>
                                <div class="ps-scrollbar-x-rail" style="left: -10px; bottom: 3px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 330px; right: 499px;"><div class="ps-scrollbar-y" style="top: 0px; height: 100px;"></div></div>
                            </div>
                        </div>
                        <div class="message-bar">
                            <div class="message-inner">
                                <span class="link icon-only" ><i class="fa fa-camera"></i></span>
                                <div class="message-area">
                                    <textarea placeholder="متن پیام..." disabled></textarea>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-wide btn-light-green" href="@Url.Action("SentContentToTelegram", "Telegram", new { type = System.Configuration.ConfigurationManager.AppSettings["QuestionID"] })">
                            @Resource.Resource.View_SendToTelegram
                        </a>
                        <a class="btn btn-dark-orange btn-block" href="@Url.Action("ListQuestion", "Parliament")">
                            @Resource.Resource.View_ReturnToList
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: FOURTH SECTION -->
    </div>
</div>