@model IEnumerable<BigMill.Models.PollAnswerModel>

<p>
    @Html.ActionLink("Create New", "AddPollAnswer")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AnswerText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnswerKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F_PollQusetion_Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerKey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.F_PollQusetion_Id)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditPollAnswer", new { PollAnswerId = item.ID }) |
            @Html.ActionLink("ChangeStatus", "ChangeStatusPollAnswer", new { PollAnswerId = item.ID }) |
            @Html.ActionLink("Delete", "DeletePollAnswer", new { PollAnswerId = item.ID })
        </td>
    </tr>
}

</table>
