@model IEnumerable<BigMill.Models.PostSubCategoryModel>

<p>
    @Html.ActionLink("BackToPostCategories", "ListPostCategory","PostCategory")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F_PostCategory_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TagsText)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.F_PostCategory_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TagsText)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditPostSubCategory", new { PostSubCategoryId = item.ID }) |
            @Html.ActionLink("ChangeStatus", "ChangeStatusPostSubCategory", new { PostSubCategoryId = item.ID }) |
            @Html.ActionLink("Delete", "DeletePostSubCategory", new { PostSubCategoryId = item.ID })
        </td>
    </tr>
}

</table>
